include LICENSE.txt
include README.md
include requirements.txt
recursive-include lollipop_plot *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude lollipop_plot.egg-info *